{{define "title"}}About{{end}}
{{define "main"}}
    <div class="about">
        <div>
            <p>Powered by <a href='https://github.com/rockstaedt/'>rockstaedt</a> | {{.Version}}</p>
        </div>
    </div>
{{end}}
