{{define "title"}}Home{{end}}
{{define "main"}}
    <div class="dashboard">
        <div class="dashboard-entry">
            <h2>Total Swims</h2>
            <p>{{ .Data.TotalCount }}</p>
        </div>
        <div class="dashboard-entry">
            <h2>Total Distance</h2>
            <p>{{ .Data.TotalDistance | numberFormat }} m</p>
        </div>
        <div class="dashboard-entry">
            <h2>Monthly Count</h2>
            <p>{{ .Data.MonthlyCount}}</p>
        </div>
        <div class="dashboard-entry">
            <h2>Monthly Distance</h2>
            <p>{{ .Data.MonthlyDistance | numberFormat }} m</p>
        </div>
        <div class="dashboard-entry">
            <h2>Weekly Count</h2>
            <p>{{ .Data.WeeklyCount }}</p>
        </div>
        <div class="dashboard-entry">
            <h2>Weekly Distance</h2>
            <p>{{ .Data.WeeklyDistance | numberFormat }} m</p>
        </div>
    </div>
{{end}}
