{{define "title"}}Home{{end}}
{{define "main"}}
    <div class="dashboard">
        <div class="dashboard-entry">
            <h3>Total Swims</h3>
            <p>{{ .Data.TotalCount }}</p>
        </div>
        <div class="dashboard-entry">
            <h3>Total Distance</h3>
            <p>{{ .Data.TotalDistance | numberFormat }} m</p>
        </div>
        <div class="dashboard-entry">
            <h3>Monthly Count</h3>
            <p>{{ .Data.MonthlyCount}}</p>
        </div>
        <div class="dashboard-entry">
            <h3>Monthly Distance</h3>
            <p>{{ .Data.MonthlyDistance | numberFormat }} m</p>
        </div>
        <div class="dashboard-entry">
            <h3>Weekly Count</h3>
            <p>{{ .Data.WeeklyCount }}</p>
        </div>
        <div class="dashboard-entry">
            <h3>Weekly Distance</h3>
            <p>{{ .Data.WeeklyDistance | numberFormat }} m</p>
        </div>
       <button hx-get="/swim">Add a swim</button>
    </div>
{{end}}
