{{define "title"}}Yearly swims{{end}}
{{define "main"}}
    <div class="yearly-figures">
        <div class="navigation">
            <i class="fas fa-arrow-left" hx-get="/yearly-figures?year={{ sub .Data.Year 1}}"></i>
            <h2>{{ .Data.Year }}</h2>
            <i class="fas fa-arrow-right" hx-get="/yearly-figures?year={{ add .Data.Year 1}}"></i>
        </div>
        <div>
            {{ $swimFigures := index .Data.Summary.YearMap .Data.Year }}
            <p>Count: {{ $swimFigures.Count }}</p>
            <p>Distance: {{ $swimFigures.DistanceM | numberFormat }} m</p>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Count</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $month, $figures := $swimFigures.MonthMap }}
                        <tr>
                            <td>{{ $month }}</td>
                            <td>{{ $figures.Count }}</td>
                            <td>{{ $figures.DistanceM | numberFormat }} m</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{end}}
