body{
    background-color: #214157;
    color: whitesmoke;
}

main{
    margin: 30px;
}

.bg-*{
    background-color: steelblue;
}

.navbar-light .navbar-brand {
    color: whitesmoke;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
