{{define "base"}}
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>SwimMate</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport"
              content="initial-scale=1,user-scalable=no,width=device-width,height=device-height,viewport-fit=cover">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel='stylesheet' href='/static/css/main.css'>

        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="/static/img/site.webmanifest">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400&display=swap"
              rel="stylesheet">

        <script src="https://kit.fontawesome.com/5a7b8770d3.js" crossorigin="anonymous"></script>
        <script src="/static/js/htmx.min.js" type="text/javascript" defer></script>
    </head>
    <body hx-boost="true" hx-target="body" hx-push-url="true">
    <header>
        <a href="/"><h1>SwimMate</h1></a>
        <i class="fas fa-tint nav-icon"></i>
        <div class="nav-items">
            <a href="/login"><i class="fas fa-chevron-right"></i>Login</a>
            <a href="/"><i class="fas fa-chevron-right"></i>Home</a>
            <a href="/yearly-figures"><i class="fas fa-chevron-right"></i>Yearly Statistics</a>
            <a href="/about"><i class="fas fa-chevron-right"></i>About</a>
        </div>
    </header>
    <main>
        {{with .Flash}}
            <div class="flash-box">
                <div class='flash {{.Type}}'><span>{{.Text}}</span></div>
            </div>
        {{end}}
        {{template "main" .}}
    </main>
    <script>
        document.querySelector('.nav-icon').addEventListener('click', function () {
            this.classList.toggle('spin');
            let dropdown = document.querySelector('.nav-items');
            dropdown.style.display = dropdown.style.display === 'none' || dropdown.style.display === ''
                ? 'block'
                : 'none';
        });

        window.setTimeout(function () {
            let flash = document.querySelector('.flash');
            if (flash) {
                flash.style.animationName = 'fadeOut';
                flash.style.animationDuration = '2s';
                flash.style.animationFillMode = 'forwards';

                let flashText = flash.querySelector('span');
                flashText.style.maxHeight = '0';

                flash.addEventListener('animationend', function () {
                    flash.parentElement.remove();
                });
            }
        }, 2000);
    </script>
    </body>
    </html>
{{end}}
