{{define "base"}}
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>SwimMate - {{template "title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    </head>
    <body>
        <header>
            <h1>SwimMate</h1>
        </header>
        <main>
            {{template "main" .}}
        </main>
        <footer>
            Powered by <a href='https://github.com/rockstaedt/'>rockstaedt</a> | {{.Version}}
        </footer>
    </body>
</html>
{{end}}
