{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to SwimMate!</h1>
        </div>
        <!--
        <div class="col-md-8">
            <img src="{{ url_for('static', filename='img/lines.jpg') }}" alt="Schwimmbad">
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-md-6">
            Lorem Ipsum
        </div>
        <div class="col-md-6">
            Lorem Ipsum
        </div>
    </div>
{% endblock content %}
